{% extends "base_site.html" %}
{% load static %}

{% block title %} | About Us {% endblock title%}

{% block content %}
<div class="row indigo lighten-5">
  <div class="col s12 center">
    <h4 class="black-text"><b>About Us</b></h4>
  </div>
</div>

<!-- About Us Content -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <p class="flow-text">
          The idea to create <b> Paragon Art Toys</b> came to us when we were just starting out to collect art toys. We had a hard time looking for existing pieces on social media, as well as having limited awareness of some of the artists and their work. We want to help old and aspiring collectors keep up to date with art toys and find more that will fit our preference. We also want to help artists showcase their work and connect with other artists, paving the way for collaboration.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Banner -->
<div class="parallax-container valign-wrapper">
<div class="section no-pad-bot">
  <div class="container">
    <div class="row center">
      <h5 class="header col s12 light"></h5>
    </div>
  </div>
</div>
<div class="parallax"><img src="{% static 'common/background3.jpg' %}" alt="Unsplashed background img 3"></div>
</div>
{% endblock content %}