{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'common/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'common/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Tab Content -->
  <title> Paragon {% block title %} {% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'common/p.png' %}">
</head>

<body >
  <!-- Nav content -->
  {% block nav %}
  {% endblock %}

  <!-- Message Content -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
         {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <!-- Main Content -->
  {% block content %}
  {% endblock %}

  <!-- Footer Content -->
  {% block footer %}
  {% endblock %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'common/js/materialize.js' %}"></script>
  <script src="{% static 'common/js/init.js' %}"></script>

  </body>
</html>
