{% extends "base.html" %}
{% load static %}

{% block nav %}
<!-- Navbar -->
<div class="navbar-fixed">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <!-- Nav Logo -->
      <a id="logo-container" href="{% url 'home' %}" class="brand-logo">
        <img class="responsive-img" src="{% static 'common/paragon_logo.png' %}" alt="banner" height="110" width="160">
      </a>
      <ul class="right hide-on-med-and-down">
        <!-- Global Search Bar -->
        <li>
          <form method="GET" action="{% url 'gallery:art_toy_search' %}">
            <div class="input-field">
              <input id="search" type="search" name="q" placeholder="Search by art toy or artist" value="{{ request.GET.q }}" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
        <!-- Nav Tabs -->
        <li class="{% if nbar == 'home' %}grey darken-3{% endif %}">
          <a href="{% url 'home' %}" class="white-text"><b>Home</b></a>
        </li>
        <li class="{% if nbar == 'art_toy' %}grey darken-3{% endif %}">
          <a href="{% url 'gallery:art_toy' %}" class="white-text "><b>Art Toys</b></a>
        </li>
        <li class="{% if nbar == 'artist' %}grey darken-3{% endif %}">
          <a href="{% url 'gallery:artist' %}" class="white-text"><b>Artists</b></a>
        </li>
        <li class="{% if nbar == 'about_us' %}grey darken-3{% endif %}">
          <a href="{% url 'about_us' %}" class="white-text"><b>About Us</b></a>
        </li>
        <!-- Log in or dropdown -->
        <li class="{% if nbar == 'login' %}grey darken-3{% endif %}">
          {% if user.is_authenticated %}
            <!-- Dropdown Trigger -->
            <a class="dropdown-trigger black orange-text" href="#!" data-target="nav1">
              <b>{{user.username}}</b>
              <i class="material-icons right">arrow_drop_down</i>
            </a>
            <!-- Dropdown Structure -->
            <ul id='nav1' class='dropdown-content black'>
              <li><a class="orange-text disabled" href=#">{{ request.user }}</a></li>
              <li class="divider grey darken-3" tabindex="-1"></li>
              <li><a class="orange-text" href="{% url 'account:collection' %}">Profile</a></li>
              <li class="divider grey darken-3" tabindex="-1"></li>
              <li><a class="orange-text" href="{% url 'authentication:logout' %}">Logout</a></li>
            </ul>
          {% else %}
            <a href="{% url 'authentication:login' %}" class="orange-text hoverable"><b>Log In</b></a>
          {% endif %}
        </li>
      </ul>
      <!-- Button for Mobile Menu -->
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons purple-text darken-2">menu</i></a>
    </div>
  </nav>
</div>

<!-- Navbar Mobile -->
<div class="nav-wrapper container">
  <ul id="nav-mobile" class="sidenav black">
    <!-- Global Search Bar -->
    <li>
      <form method="GET" action="{% url 'gallery:art_toy_search' %}">
        <div class="input-field">
          <input id="search" type="search" name="q" placeholder="Search by art toy or artist" value="{{ request.GET.q }}" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </li>
    <!-- Nav Tabs -->
    <li class="{% if nbar == 'home' %}grey darken-3{% endif %}">
      <a href="{% url 'home' %}" class="white-text"><b>Home</b></a>
    </li>
    <li class="{% if nbar == 'art_toy' %}grey darken-3{% endif %}">
      <a href="{% url 'gallery:art_toy' %}" class="white-text "><b>Art Toys</b></a>
    </li>
    <li class="{% if nbar == 'artist' %}grey darken-3{% endif %}">
      <a href="{% url 'gallery:artist' %}" class="white-text"><b>Artists</b></a>
    </li>
    <li class="{% if nbar == 'about_us' %}grey darken-3{% endif %}">
      <a href="{% url 'about_us' %}" class="white-text"><b>About Us</b></a>
    </li>
    <!-- Log in or dropdown -->
    <li class="{% if nbar == 'login' %}grey darken-3{% endif %}">
      {% if user.is_authenticated %}
        <!-- Dropdown Trigger -->
        <a class="dropdown-trigger black orange-text" href="#!" data-target="nav2">
          <b>{{user.username}}</b>
          <i class="material-icons right">arrow_drop_down</i>
        </a>
        <!-- Dropdown Structure -->
        <ul id='nav2' class='dropdown-content black'>
          <li><a class="orange-text disabled" href=#">{{ request.user }}</a></li>
          <li class="divider grey darken-3" tabindex="-1"></li>
          <li><a class="orange-text" href="{% url 'account:collection' %}">Profile</a></li>
          <li class="divider grey darken-3" tabindex="-1"></li>
          <li><a class="orange-text" href="{% url 'authentication:logout' %}">Logout</a></li>
        </ul>
      {% else %}
        <a href="{% url 'authentication:login' %}" class="orange-text hoverable"><b>Log In</b></a>
      {% endif %}
    </li>
  </ul>
</div>
{% endblock nav %}

<!-- Footer -->
{% block footer %}
<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bio</h5>
        <p class="grey-text text-lighten-4">BABAGANUSH</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-3">
    <div class="container">
      Developed by <a class="brown-text text-lighten-3" href="https://www.facebook.com/lanz.cu/" target="_blank" >Lanz Cu</a>
    </div>
  </div>
</footer>
{% endblock footer %}