{% extends "base_site.html" %}
{% block title %} | Home {% endblock %}
{% load static %}

{% block content %}

<!-- Main Page Banner -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <b><h1 class="header center orange-text ">
        {% if user.is_authenticated %}
          Welcome back {{ request.user }}
        {% else %}
          Welcome to Paragon Art Toys!
        {% endif %}
      </h1></b>
      <div class="row center">
        {% if user.is_authenticated %}
          <b><a href="#" class="btn-large waves-effect waves-light black orange-text z-depth-5">View Collection</a></b>
        {% else %}
          <b><a href="{% url 'account:register' %}" class="btn-large waves-effect waves-light black orange-text z-depth-5">Register</a></b>
          &nbsp;
          <b><a href="#" class="btn-large waves-effect waves-light black orange-text z-depth-5">log In</a></b>
        {% endif %}
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="{% static 'common/background1.jpg' %}" alt="banner1"></div>
</div>

<!-- Card Links to Webpage -->
<div class="container">
  <div class="row">
    <div class="col s6 ">
      <div class="card hoverable black">
        <div class="card-image grey lighten-4">
          <a href="{% url 'gallery:art_toy' %}">
           <img src="{% static 'common/art_toy.jpg' %}" class="responsive-image">
          </a>
        </div>
        <div class="card-action center">
          <a href="{% url 'gallery:art_toy' %}">View by Art Toys</a>
        </div>
      </div>
    </div>
    <div class="col s6 ">
      <div class="card hoverable black">
        <div class="card-image">
          <a href="{% url 'gallery:artist'%}">
            <img src="{% static 'common/artist.jpg' %}" class="responsive-image">
          </a>
        </div>
        <div class="card-action center">
          <a href="{% url 'gallery:artist'%}">View by Artists</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Second Page Banner -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h2 class="header col s12 orange-text"></h2>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{% static 'common/background1.jpg' %}" alt="banner2"></div>
</div>

<!-- Icon Summary Section -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Faster Art Toy Lookup</h5>
          <p class="light">No need to spend hours searching multiple social media accounts to be familiar with what's out there. </p>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Continuous Development </h5>
          <p class="light">We are still a work in progress and have a lot of idea to be implemented on this webpage in the future.</p>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}