{% extends "base_site.html" %}

{% block content %}
<div class="row indigo lighten-5">
  <div class="col s12 center ">
    <h4 class="black-text"><b>{% block profile_title %} Profile {% endblock %} </b></h4>
  </div>
  <div class="divider"></div><br>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="center-align">
        <li class="col s4"><a class="black-text" href="{% url 'account:collection' %}">Collection</a></li>
        <li class="col s4"><a class="black-text" href="{% url 'account:wishlist' %}">Wish List</a></li>
        <li class="col s4 disabled"><a class="black-text" href="#sell">Sell / Trade</a></li>
      </ul>
    </div>
  </div>
  {% block profile_content %}
  {% endblock profile_content %}
</div>
{% endblock content %}