{% extends "account/base_profile.html" %}
{% load cropping %}

{% block title %} | Profile - Collection {% endblock %}
{% block profile_title %} Collection {% endblock %}

{% block profile_content %}
<!-- Collection -->
<div class="row">
  {% if not collection %}
    <h5 class="red-text">
      No Art toys Found
    </h5>
  {% else %}
    {% for c in collection %}
      <div class="col s12 m6 l4 xl3">
        <a href="{% url 'gallery:art_toy_detail' toy_slug=c.art_toy.slug %}">
          <div class="card small hoverable">

            <div class=" card-image">
              <img class="responsive-img" src="{% cropped_thumbnail c.art_toy 'cropping' %}">
            </div>

            <div class="card-content black  center-align">
              <span class="orange-text flow-text ">{{ c.art_toy.name }}</span>

              <!-- Modal Trigger -->
                <a class="btn-floating waves-effect waves-light red right modal-trigger" href="#rem-{{ c.art_toy.id }}">
                  <i class="material-icons">remove</i>
                </a>

                <!-- Modal Structure -->
                <div id="rem-{{ c.art_toy.id }}" class="modal">
                  <div class="modal-content">
                    <a href="#" class="modal-close right" onclose="modal.close();">
                      <i class="material-icons">close</i>
                    </a>
                    <h4>Are you sure you want to remove <b>{{ c.art_toy.name }}</b> to your collection?</h4>
                    <img class="responsive-img" src="{% cropped_thumbnail c.art_toy 'cropping' %}">
                  </div>
                  <div class="modal-footer">
                    <a href="{% url 'account:remove_from_collection' toy_slug=c.art_toy.slug %}" class="modal-close waves-effect waves-light red btn">
                      Remove
                    </a>
                  </div>
                </div>

            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  {% endif %}
</div>

<!-- pagination -->
<div class="container center">
  {% if collection.has_other_pages %}
    <ul class="pagination">
      <!-- back button -->
      {% if collection.has_previous %}
        <li class="waves-effect">
          <a href="?q={{ request.GET.q }}&filter={{request.GET.filter}}&sort={{ request.GET.sort }}&page={{ art_toys.previous_page_number }}" >
          <i class="material-icons">chevron_left</i></a>
        </li>
      {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
      {%endif%}

      <!-- middle section -->
      {% for i in collection.paginator.page_range %}
        {% if i <= collection.number|add:3 and i >= collection.number|add:-3 %}
          {% if collection.number == i %}
            <li class="active purple"><a href="#!">{{ i }}</a></li>
          {% else %}
            <li><a href="?q={{ request.GET.q }}&filter={{request.GET.filter}}&sort={{ request.GET.sort }}&page={{ i }}" >{{ i }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- next button -->
      {% if collection.has_next %}
        <li class="waves-effect">
          <a href="?q={{ request.GET.q }}&page={{ collection.next_page_number }}" >
          <i class="material-icons">chevron_right</i></a>
        </li>
      {%else%}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
      {%endif%}
    </ul>
  {%endif%}
</div>
{% endblock %}