{% extends "base_site.html" %}
{% load crispy_forms_tags %}

{% block title %} | Register {% endblock %}

{% block content %}
<div class="row indigo lighten-5">
  <div class="col s12 center">
    <h4 class="black-text"><b>Create an Account</b></h4>
  </div>
</div>

<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form.as_p }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Sign Up</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Already have an account?
      <a class="ml-2" href="{% url 'authentication:login' %}">Sign In</a>
    </small>
  </div>
</div>
{% endblock %}
