{% extends "base_site.html" %}
{% load crispy_forms_tags %}

{% block title %} | Log In {% endblock %}

{% block content %}
<div class="row indigo lighten-5">
  <div class="col s12 center">
    <h4 class="black-text"><b>Log In</b></h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card">
        {% csrf_token %}
        {% crispy form form.helper %}
        <div class="right">
          <small class="text-muted">
            <a class="ml-2" href="#">Forgot password?</a>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}