{% extends "base_site.html" %}

{% block title %} | {{toy.name}} {% endblock title%}

{% block content %}
<!-- Art Toy Name and Creators -->
<div class="row indigo lighten-5">
  <div class="col s12 center">
    <h4 class="black-text"><b>{{ toy.name }}</b></h4>
    <h6> by
      <!-- Artists involved for loop -->
      {% for artist in toy.artist.all %}
        {% if forloop.counter == 1 %}
          <a href="{% url 'gallery:artist_detail' artist_slug=artist.slug %}">{{ artist.name }} </a>
        {% else %}
          x <a href="{% url 'gallery:artist_detail' artist_slug=artist.slug %}"> {{ artist.name }} </a>
        {% endif %}
      {% endfor %}

      <!-- Organizations involved for loop -->
      {% for organization in toy.organization.all %}
        x <a href="{% url 'gallery:organization_detail' org_slug=organization.slug %}"> {{ organization.name }} </a>
      {% endfor %}
    </h6>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Carousel display with enlarge photo -->
    <div class="col s12 l5">
      <div class="carousel">
        <a class="carousel-item" href="#"><img class="materialboxed responsive-img" src="{{ toy.thumbnail.url }}"></a>
      {% for img in images %}
        {% if img.image %}
          <a class="carousel-item" href="#"><img class="materialboxed responsive-img" src="{{ img.image.url }}"></a>
        {% endif %}
      {% endfor %}
        </div>
      <br>
    </div>
    <!-- Tabs for Details -->
    <div class="col s12 l7">
      <ul class="tabs">
        <li class="tab col s6"><a href="#art_toy_details">Art Toy Details</a></li>
        <li class="tab col s6"><a href="#release_details">Release Details</a></li>
      </ul><br>
      <!-- Art Toy Details Table -->
      <div id="art_toy_details" class="col s12">
        <table class="striped">
          <tbody class="black-text">
            <tr>
              <td><b> Base Model </b></td>
              <td>
                {% for base_model in toy.base_model.all %}
                  {% if forloop.counter == 1 %}
                    <a href="{% url 'gallery:base_model_detail' base_slug=base_model.slug  %}">{{ base_model.name }}</a>
                  {% else %}
                    , <a href="{% url 'gallery:base_model_detail' base_slug=base_model.slug  %}">{{ base_model.name }}</a>
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
            <tr>
              <td><b> Medium </b></td>
              <td> {{ toy.medium }} </td>
            </tr>
            <tr>
              <td><b> Edition Size </b></td>
              <td>
                {% if toy.edition_size == 1 %}
                one-off
                {% else %}
                  {{ toy.edition_size }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td><b> Dimensions </b></td>
              <td> {{ toy.dimensions }} </td>
            </tr>

            {% if toy.description %}
            <tr>
              <td><b> Description </b></td>
              <td> {{ toy.description|urlize|linebreaks }} </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
    </div>
    <!-- Release Details -->
    <div id="release_details" class="col s12">
      <table class="striped">
        <tbody class="black-text">
          <tr>
            <td><b> Type </b></td>
            <td>
              <span class="tooltipped" data-position="right" data-tooltip="
                {% if toy.type == "OFF" %}
                  produced in large quantities and made available to the public
                {% elif toy.type == "CUS" %}
                  typically one-off; customized outside of the general series and made available to the public
                {% elif toy.type == "COM" %}
                  specially created for a private collector
                {% endif %}">
                {{ toy.get_type_display }}
              </span>
            </td>
          </tr>
          <tr>
            <td><b> Released Price</b>
              {% if toy.is_auction %} <br><span class="grey-text">(via auction)</span>{% endif %}
            </td>
            <td>
              {% if toy.release_price == 0 %}
                N/A
              {% else %}
                &#x20B1; {{ toy.release_price }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td><b> Released On </b></td>
            <td> {{ toy.release_date }} </td>
          </tr>

          {% if toy.release_at %}
          <tr>
            <td><b> Released At </b></td>
            <td> {{ toy.release_at|urlize|linebreaks }} </td>
          </tr>
          {% endif %}

        </tbody>
      </table>
    </div>
  </div>



    <!-- End of Table -->
  </div>
</div>
{% endblock %}