{% extends "base_site.html" %}
{% load static %}
{% load cropping %}

{% block title %} | Art Toys {% endblock title%}

{% block content %}
<div class="row indigo lighten-5">
  <div class="col s12 center ">
    <h4 class="black-text"><b>Art Toys</b></h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Search Art Toy Form -->
    <div class="col s12 m4 l6 left">
      <form method="GET" action="{% url 'gallery:art_toy_search' %}">
        <div class="input-field">
          <input id="search" type="search" name="q" placeholder="Search art toys by title or artist name" value="{{ request.GET.q }}" required>
          <i class="material-icons">close</i>
          <label>Search</label>
        </div>
      </form>
    </div>

    <!-- Filter Dropdown -->
    <div class="col s12 m4 l3">
      <div class="input-field col s12">
        <form method="GET">
        <select name="filter" onchange="form.submit();">
          <option value="" disabled selected>Choose your option</option>
          {% for t in type_list %}
            <option value="{{ t.type }}"{% if request.GET.filter == t %} selected {% endif %}>{{ t.get_type_display }}</option>
          {% endfor %}
        </select>
        <label>Filter by</label>
        </form>
      </div>
    </div>

    <!-- Sort dropdown -->
    <div class="col s12 m4 l3">
      <div class="input-field col s12">
        <form method="GET">
        <select name="sort" onchange="form.submit();">
          <option value="" disabled selected>Choose your option</option>
          <option value="title_asc" {% if request.GET.sort == "title_asc" %} selected {% endif %}>Title: A- Z</option>
          <option value="title_des" {% if request.GET.sort == "title_des" %} selected {% endif %}>Title: Z - A</option>
          <option value="date_asc" {% if request.GET.sort == "date_asc" %} selected {% endif %}>Released: new to old</option>
          <option value="date_des" {% if request.GET.sort == "date_des" %} selected {% endif %}>Released: old to new</option>
        </select>
        <label>Sort by</label>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    {% if not art_toys %}
      <h5 class="red-text">

        {% if request.GET.q %}
          No  art toys found that matches "{{request.GET.q}}".
        {% else %}
          No Art Toys Found.
        {% endif %}
      </h5>
    {% else %}
      <!-- Art toys for loop-->
      {% for a in art_toys %}
        <a href="{% url 'gallery:art_toy_detail' toy_slug=a.slug %}">
          <div class="col s12 m6 l4 xl3">
            <div class="card small hoverable">
              <div class=" card-image">
                <img class="responsive-img" src="{% cropped_thumbnail a 'cropping' %}">
              </div>
              <div class="card-content black center-align ">
                <span class="orange-text flow-text ">{{ a.name }}</span>

                <!-- Add Option if User is Logged In -->
                {% if user.is_authenticated %}
                  <!-- Modal Trigger -->
                  <a class="btn-floating waves-effect waves-light right modal-trigger" href="#add-{{ a.id }}">
                    <i class="material-icons orange black-text hoverable">add</i>
                  </a>

                  <!-- Modal Structure -->
                  <div id="add-{{ a.id }}" class="modal">
                    <div class="modal-content">
                      <a href="#" class="modal-close right" onclose="modal.close();">
                        <i class="material-icons">close</i>
                      </a>
                      <h4>Where do you wish to add <b>{{ a.name }}</b>?</h4>
                      <img class="responsive-img" src="{% cropped_thumbnail a 'cropping' %}">
                    </div>

                    <div class="modal-footer">
                      <div class="row center-align">
                        <div class="col s6 m3 offset-m3 l4 offset-l2">
                          <a href="{% url 'account:add_to_profile' type_slug='collection' toy_slug=a.slug %}" class="modal-close waves-effect waves-light green btn">
                            Collection
                          </a>
                        </div>
                        <div class="col s6 m3 l4">
                          <a href="{% url 'account:add_to_profile' type_slug='wishlist' toy_slug=a.slug %}" class="modal-close waves-effect waves-light blue btn">
                            Wishlist
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}

              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    {% endif %}
  </div>
</div>

<!-- pagination -->
<div class="container center">
  {% if art_toys.has_other_pages %}
    <ul class="pagination">
      <!-- back button -->
      {% if art_toys.has_previous %}
        <li class="waves-effect">
          <a href="?q={{ request.GET.q }}&filter={{request.GET.filter}}&sort={{ request.GET.sort }}&page={{ art_toys.previous_page_number }}" >
          <i class="material-icons">chevron_left</i></a>
        </li>
      {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}

      <!-- middle section -->
      {% for i in art_toys.paginator.page_range %}
        {% if i <= art_toys.number|add:3 and i >= art_toys.number|add:-3 %}
          {% if art_toys.number == i %}
            <li class="active purple"><a href="#!">{{ i }}</a></li>
          {% else %}
            <li><a href="?q={{ request.GET.q }}&filter={{request.GET.filter}}&sort={{ request.GET.sort }}&page={{ i }}" >{{ i }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- next button -->
      {% if art_toys.has_next %}
        <li class="waves-effect">
          <a href="?q={{ request.GET.q }}&page={{ art_toys.next_page_number }}" >
          <i class="material-icons">chevron_right</i></a>
        </li>
      {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
  {%endif%}
</div>
{% endblock %}


