{% extends "base_site.html" %}
{% load static %}
{% load cropping %}

{% block title %} | Artists {% endblock title%}

{% block content %}
<div class="row indigo lighten-5">
  <div class="col s12 center">
    <h4 class="black-text"><b>Artists</b></h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Search artist form -->
    <div class="col s12 m4 l6 left">
      <form method="GET" action="{% url 'gallery:artist_search' %}">
        <div class="input-field">
          <input type="search" name="q" placeholder="Search by artist name" value="{{ request.GET.q }}" required>
          <i class="material-icons">close</i>
          <label>Search</label>
        </div>
      </form>
    </div>

    <!-- Filter Nationality Dropdown -->
    {% if nationality_list %}
      <div class="col s12 m4 l3">
        <div class="input-field col s12">
          <form method="GET">
          <select name="filter" onchange="form.submit();">
            <option value="" disabled selected>Choose your option</option>
            {% for n in nationality_list %}
              <option value="{{ n.country }}"{% if request.GET.filter == n.country %} selected {% endif %}>{{ n.country.name }}</option>
            {% endfor %}
          </select>
          <label>Filter by Nationality</label>
          </form>
        </div>
      </div>
    {% endif %}

    <!-- Sort Dropdown -->
    <div class="col s12 m4 l3 right">
      <div class="input-field col s12">
        <form method="GET">
        <select name="sort" onchange="form.submit();">
          <option value="" disabled selected>Choose your option</option>
          <!--<option value="price_asc" {% if request.GET.sort == "price_asc" %} selected {% endif %}>Price: low to high</option>
          <option value="price_des" {% if request.GET.sort == "price_des" %} selected {% endif %}>Price: high to low</option>-->
          <option value="name_asc" {% if request.GET.sort == "name_asc" %} selected {% endif %}>Name: A- Z</option>
          <option value="name_des" {% if request.GET.sort == "name_des" %} selected {% endif %}>Name: Z - A</option>
        </select>
        <label>Sort by</label>
        </form>
      </div>
    </div>
  </div>


  <div class="row">
    {% if not artists %}
      <h5 class="red-text">
        {% if request.GET.q %}
          No artists found that matches "{{request.GET.q}}"
        {% else %}
          No Artists Found.
        {% endif %}
      </h5>
    {% else %}
      <!-- Artists for loop -->
      {% for artist in artists %}
        <div class="col s12 m6 l4 xl3">
          <a href="{% url 'gallery:artist_detail' artist_slug=artist.slug %}">
            <div class="card small hoverable">
              <div class="card-image">
                   <img class="responsive-img" src="{% cropped_thumbnail artist 'cropping' %}">
              </div>
              <div class="card-content black center-align">
                <span class="orange-text flow-text ">{{ artist.name }}</span>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

<!-- Pagination -->
<div class="container center">
  {% if artists.has_other_pages %}
    <ul class="pagination">
      <!-- back button -->
      {% if artists.has_previous %}
        <li class="waves-effect">
          <a href="?sort={{ request.GET.sort }}&page={{ artists.previous_page_number }}" >
          <i class="material-icons">chevron_left</i></a>
        </li>
      {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}

      <!-- middle section -->
      {% for i in  artists.paginator.page_range %}
        {% if i <= artists.number|add:3 and i >= artists.number|add:-3 %}
          {% if artists.number == i %}
            <li class="active purple"><a href="#!">{{ i }}</a></li>
          {% else %}
            <li><a href="?sort={{ request.GET.sort }}&page={{ i }}" >{{ i }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- next button -->
      {% if artists.has_next %}
        <li class="waves-effect">
          <a href="?sort={{ request.GET.sort }}&page={{ artists.next_page_number }}" >
          <i class="material-icons">chevron_right</i></a>
        </li>
      {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
  {%endif%}
</div>
{% endblock %}