{% extends "base_site.html" %}
{% load cropping %}

{% block title %} | {{ artist.name }} {% endblock title%}

{% block content %}
<div class="row indigo lighten-5">
  <div class="col s12 center">
    <h4 class="black-text"><b>{{ artist.name }}</b></h4>
  </div>
  <div class="divider"></div><br>
</div>

<div class="container">
  <div class="row">
    <!-- Artist Icon -->
    <div class="col s12 m4">
      <img src="{{ artist.logo.url }}" class="circle responsive-img"><br>
      <br>
    </div>

    <!-- Artist Details Table -->
    <div class="col s12 m8">
      <table class="striped">
        <tbody class="black-text">
          {% if artist.alias %}
            <tr>
              <td><b> Also Known As </b></td>
              <td>{{ artist.alias }}</td>
            </tr>
          {% endif %}

          {% if artist.email %}
            <tr>
              <td><b> Email </b></td>
              <td>{{ artist.email }}</td>
            </tr>
          {% endif %}
          <tr>
            <td><b> Country </b></td>
            <td> {{ artist.country.name }} </td>
          </tr>
          <tr>
            <td><b> Bio </b></td>
            <td> {{ artist.bio|urlize|linebreaks  }} </td>
          </tr>

          <!-- Social media links -->
          {% if artist.facebook_link %}
            <tr>
              <td><b> Facebook </b></td>
              <td><a href="{{ artist.facebook_link }}" target="_blank">{{ artist.facebook_link }}</a></td>
            </tr>
          {% endif %}

          {% if artist.instagram_link %}
            <tr>
              <td><b> Instagram </b></td>
              <td><a href="{{ artist.instagram_link }}" target="_blank">{{ artist.instagram_link }}</a></td>
            </tr>
          {% endif %}

          {% if artist.twitter_link %}
            <tr>
              <td><b> Twitter </b></td>
              <td><a href="{{ artist.twitter_link }}" target="_blank">{{ artist.twitter_link }}</a></td>
            </tr>
          {% endif %}

          {% if artist.website_link %}
            <tr>
              <td><b> Website </b></td>
              <td><a href="{{ artist.website_link }}" target="_blank">{{ artist.website_link }}</a></td>
            </tr>
          {% endif %}

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- If Artist has Base Model Registered -->
{% if base_models %}
  <div class="divider"></div>

  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h4 class="black-text">Models designed by <i>{{ artist.name }}</i></h4>
      </div>
    </div>

    <!-- Base Models of artist for loop -->
    <div class="row">
      {% for b in base_models %}
        <div class="col s6 m4 l3">
          <a href="{% url 'gallery:base_model_detail' base_slug=b.slug  %}">
            <div class="card small hoverable">
              <div class=" card-image">
                <img class="responsive-img" src="{% cropped_thumbnail b 'cropping' %}">
              </div>
              <div class="card-content black  center-align">
                  <span class="orange-text flow-text ">{{ b.name }}</span>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    <!-- Base Model of Artist Pagination -->
    <div class="container center">
      {% if base_models.has_other_pages %}
        <ul class="pagination">
          <!-- back button -->
          {% if base_models.has_previous %}
            <li class="waves-effect">
              <a href="?q={{ request.GET.q }}&page={{ base_models.previous_page_number }}" >
              <i class="material-icons">chevron_left</i></a>
            </li>
          {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
          {% endif %}

          <!-- middle section -->
          {% for i in base_models.paginator.page_range %}
            {% if i <= base_models.number|add:3 and i >= base_models.number|add:-3 %}
              {% if base_models.number == i %}
                <li class="active purple"><a href="#!">{{ i }}</a></li>
              {% else %}
                <li><a href="?q={{ request.GET.q }}&page={{ i }}" >{{ i }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}

          <!-- next button -->
          {% if base_models.has_next %}
            <li class="waves-effect">
              <a href="?q={{ request.GET.q }}&page={{ base_models.next_page_number }}" >
              <i class="material-icons">chevron_right</i></a>
            </li>
          {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}
        </ul>
     {%endif%}
    </div>
  </div>
{% endif %}
{% endblock %}