{% extends "base_site.html" %}
{% load cropping %}

{% block title %} {{ base_model.name }} {% endblock title%}

{% block content %}
<div class="row indigo lighten-5">
  <div class="col s12 center">
    <h4 class="black-text"><b>{{ base_model.name }}</b></h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Carousel display with Enlarge Photo -->
    <div class="col s12 l5">
      <div class="carousel">
      <a class="carousel-item" href="#"><img class="materialboxed responsive-img" src="{{ base_model.thumbnail.url }}"></a>
      {% for img in images %}
        {% if img.image %}
          <a class="carousel-item" href="#"><img class="materialboxed responsive-img" src="{{ img.image.url }}"></a>
        {% endif %}
      {% endfor %}
        </div>
    </div>

    <!-- Base Model Details Table -->
    <div class="col s12 l7">
      <table class="striped">
        <tbody class="black-text">
          <tr>
            <td><b> Designed by </b></td>
            <td>
              <!-- Artists Involved for loop -->
              {% for designer in base_model.designer.all %}
                {% if forloop.counter == 1 %}
                  <a href="{% url 'gallery:artist_detail' artist_slug=designer.slug %}">{{ designer.name }} </a>
                {% else %}
                  x <a href="{% url 'gallery:artist_detail' artist_slug=designer.slug %}"> {{ designer.name }} </a>
                {% endif %}
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td><b> Description </b></td>
            <td> {{ base_model.description|urlize|linebreaks }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- If Base Model has Art Toys Registered -->
{% if art_toys %}
  <div class="divider"></div>

  <!-- Feature artist's works -->
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h4 class="black-text">Art Toys created with <i>{{ base_model.name }}</i> platform</h4>
      </div>
    </div>

    <!-- Art toys based on base model for loop -->
    <div class="row">
      {% for a in art_toys %}
        <div class="col s12 m6 l4 xl3">
          <a href="{% url 'gallery:art_toy_detail' toy_slug=a.slug %}">
            <div class="card small hoverable">
              <div class=" card-image">
                <img class="responsive-img" src="{% cropped_thumbnail a 'cropping' %}">
              </div>
              <div class="card-content black  center-align">
                <span class="orange-text flow-text ">{{ a.name }}</span>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="container center">
      {% if art_toys.has_other_pages %}
        <ul class="pagination">
          <!-- back button -->
          {% if art_toys.has_previous %}
            <li class="waves-effect">
              <a href="?q={{ request.GET.q }}&page={{ art_toys.previous_page_number }}" >
              <i class="material-icons">chevron_left</i></a>
            </li>
          {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
          {% endif %}

          <!-- middle section -->
          {% for i in art_toys.paginator.page_range %}
            {% if i <= art_toys.number|add:3 and i >= art_toys.number|add:-3 %}
              {% if art_toys.number == i %}
                <li class="active purple"><a href="#!">{{ i }}</a></li>
              {% else %}
                <li><a href="?q={{ request.GET.q }}&page={{ i }}" >{{ i }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}

          <!-- next button -->
          {% if art_toys.has_next %}
            <li class="waves-effect">
              <a href="?q={{ request.GET.q }}&page={{ art_toys.next_page_number }}" >
              <i class="material-icons">chevron_right</i></a>
            </li>
          {% else%}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}
        </ul>
     {%endif%}
    </div>
  </div>
{% endif %}
{% endblock %}
