{% extends "base_site.html" %}

{% block title %} {{ organization.name }} {% endblock title%}

{% block content %}
<div class="row indigo lighten-5">
  <div class="col s12 center">
    <h4 class="black-text"><b>{{ organization.name }}</b></h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Organization Icon -->
    <div class="col s12 m4">
      <img src="{{ organization.logo.url }}" class="circle responsive-img"><br>
      <br>
    </div>

    <!-- Organization Details Table -->
    <div class="col s12 m8">
      <table class="striped">
        <tbody class="black-text">
          <tr>
            <td><b> Type </b></td>
            <td> {{ organization.get_type_display }} </td>
          </tr>
          <tr>
            <td><b> Established On </b></td>
            <td> {{ organization.established_on }} </td>
          </tr>

          {% if organization.email %}
            <tr>
              <td><b> Email </b></td>
              <td>{{ organization.email }}</td>
            </tr>
          {% endif %}

          {% if organization.link %}
            <tr>
              <td><b> Link </b></td>
              <td><a href="{{ organization.link  }}" target="_blank">{{ organization.link }}</a></td>
            </tr>
          {% endif %}

          <tr>
            <td><b> Bio </b></td>
            <td> {{ organization.bio }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

